@import 'variables.scss';
@import 'mixins.scss';
@import 'components.scss';

$container-width: 960px;
$container-padding: 0 10px;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after  {
	box-sizing: inherit;
}

h1, p {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.container {
	max-width: $container-width;
	padding: $container-padding;
	margin: 0 auto;
}