.section {
	padding: 70px 0;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	&-background {
		background-size: cover;
		background-position: 50% 50%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -100;
	}
	&-overlay:after {
		content: '';
		background: linear-gradient(to right, #09052f, #311d5e);
		opacity: 0.85;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	&-fill-height {
		min-height: 100vh;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	&-title {
		color: #413d4b;
		font-family: "Playfair Display";
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
	}
}